img {
  aspect-ratio: 16/9;
  object-fit: cover;
  height: 400px;
  width: 100%;
  max-height: fit-content;
}

.content-card {
  max-width: 800px;
  flex-grow: 1;
  background-color: rgb(31, 31, 31);
  border-radius: 2rem;
  box-shadow: 0 0 0.5rem rgba(80, 80, 80, 0.1);
  box-sizing: border-box;
  overflow: hidden;

  p {
    text-align: start;
  }

  .content-description {
    padding: 1rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: rgb(255, 255, 255);
  }

  button {
    border-radius: 2rem;
    border: 1px solid rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    cursor: pointer;
    box-shadow: 0 0 0.5rem rgba(80, 80, 80, 0.1);
    box-sizing: border-box;
    overflow: hidden;
  }
}
