.content-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;

  h2 {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
  }

  button {
    border-radius: 0.5rem;
    border: 1px solid rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    cursor: pointer;
    box-shadow: 0 0 0.5rem rgba(80, 80, 80, 0.1);
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
  }

  ul {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255);
    width: fit-content;
    border-radius: 0.5rem;

    li:first-child {
      border: none;
    }

    li {
      list-style: none;
      padding: 0.5rem;
      cursor: pointer;
      border-left: 1px solid rgb(255, 255, 255);
      font-size: 1rem;
    }
  }
}
